button {
  color: #fff;
  font-weight: bold;
  width: 100px;
  margin-left: .5em;
  margin-top: 10px;
  padding: 1em;
  border-radius: 0.45em;
  background-color: rgb(223, 79, 79);
  border: 1px solid #999;
}

#add_button {
  background-color: rgb(58, 140, 216);
  margin-top: 25px;
  margin-left: 25px;
}

form {
  margin-left: 25px;
  margin-top: 25px;
  width: 390px;
  padding: 1em;
  padding-top: 1.25em;
  padding-bottom: 1.25em;;
  border: 1px solid #CCC;
  border-radius: 1em;
}

form ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 10px;
  
}

form li + li {
  margin-top: 1em;
}

label {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color:rgb(223, 79, 79);
  display: inline-block;
  width: 90px;
  text-align: right;
  margin-right: 10px;
}

input,
textarea {
  font: 14px sans-serif;
  color:rgb(146, 145, 145);
  padding: 0.25em;
  width: auto;
  box-sizing: border-box;
  padding-left: 0.5em;;
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  outline: 1px solid  rgb(40, 133, 196);
}

textarea {
  vertical-align: top;
  height: 5em;
}

div {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color:rgb(223, 79, 79);
  padding-top: 50px;
  margin: 10px;
  padding: 1em;
  padding-top: 1.25em;
  padding-bottom: 1.25em;;
  border: 1px solid #CCC;
  border-radius: 1em;
}

legend {
  color:rgb(51, 51, 51);
  width: 95px;
  padding: 3px;
  background-color: #fff;
  text-align: center;
  padding: 0;
  margin-top: -30px;
}

select {
  width: 183px;
}