html, body{
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* border-bottom: 1px solid #CCC; */
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: -25px;
  padding: 0;
  color: #fff;
  height: 160px;
  background-color: #62498b;
}

header h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 2.2em;
  font-weight: bold;
}

header h2 {
  margin: 0;
  color: #c9b9e2;
  font-weight: normal;
  font-size: 1.3em;
}

h3 {
  font-weight: normal;
  font-size: 1.6em;
  color: #62498b;
  margin: 50px 0px 7px 0px;

}

h4 {
  font-weight: normal;
  font-size: 1.6em;
  margin-bottom: 40px;
}

.homeView {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: normal;
  font-size: 1.3em;
  width: 70%;
}

.interactBar {
  color: #62498b;
  display: flex;
  justify-content: space-around;
  border: 1px solid #CCC;
  border-radius: 0.5em;
  background-color: rgb(243, 243, 243);
  width: 100%;
  padding: 25px;
  padding-inline: 15%;
  margin-inline: 0;
}

.interactBar div{
  display: flex;
  justify-content: flex-end;
  margin-left: 1.3em;
  margin-right: 0px;
  width: 100%;
}

.addContactBtn {
  -webkit-transition: all 0.20s ease-in-out;
  -moz-transition: all 0.20s ease-in-out;
  -ms-transition: all 0.20s ease-in-out;
  -o-transition: all 0.20s ease-in-out;

  padding: 6px;
  width: 200px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 0.9em;
  color: #795aaa;
  
  border: 1px solid #795aaa;
  background-color: rgb(243, 243, 243);
  border-radius: 0.5em;
}

.addContactBtn:hover {
  color: #fff;
  border: 1px solid #4e327c;
  background-color: #795aaa;
  cursor: pointer;
}

.interactBar label{
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 14px 10px 10px 10px;
  font-size: 0.9em;
}

.interactBar input {
  border: 1px solid #ccc;
  height: 25px;
  border-radius: 0.5em;
  padding-left: 10px;
}

input {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;

  outline: none;
  padding: 5px 0px 5px 7px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
input:focus {
  box-shadow: 0 0 5px rgb(81, 144, 238);
  border: 1px solid rgb(81, 144, 238);
}

.listContacts {
  color:rgb(65, 65, 65);
  width: 125%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  border-bottom: 1px solid #CCC;
  padding-bottom: 65px;
}

.contact {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  width: 200px;
  margin: 10px;
  font-size: 0.75em;
  line-height: 1pt;
  border-bottom: 1px solid #CCC;
}

.contact button {
  -webkit-transition: all 0.20s ease-in-out;
  -moz-transition: all 0.20s ease-in-out;
  -ms-transition: all 0.20s ease-in-out;
  -o-transition: all 0.20s ease-in-out;

  width: fit-content;
  padding: 5px 10px 5px 10px;
  margin: 0px 10px 20px 0px;
  color: #795aaa;
  border: 1px solid #795aaa;
  border-radius: 0.4em;
  background-color: #fff;
}

.contact button:hover {
  color: #fff;
  border: 1px solid #4e327c;
  background-color: #795aaa;
  cursor: pointer;
}

.contact button i {
  margin: 0px 7px 0px 0px;
}

.contactForm {
  color:rgb(65, 65, 65);
  width: 87%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #CCC;
  padding-bottom: 65px;
  margin-bottom: 10px;
}

.contactform form {
  margin-left: 30px;
  margin-top: 30px;
  width: 75%;
  padding: 1em;
  padding-top: 1.25em;
  padding-bottom: 1.25em;;
  border: 1px solid #CCC;
  border-radius: 1em;
}

.contactForm input {
  width: 250px;
  border-radius: 0.35em;
}

.contactForm ul {
  list-style: none;
  text-align: right;
  padding: 0px 35px 0px 0px;
  margin: 0;
}

.contactForm li {
  margin-top: 1em;
}

.tag:hover {
  cursor: pointer;
}

.addContactSubmit, .cancel {
  -webkit-transition: all 0.20s ease-in-out;
  -moz-transition: all 0.20s ease-in-out;
  -ms-transition: all 0.20s ease-in-out;
  -o-transition: all 0.20s ease-in-out;

  margin-top: 10px;
  padding: 6px;
  width: 34%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 0.9em;
  color: #795aaa;
  
  border: 1px solid #795aaa;
  background-color: rgb(243, 243, 243);
  border-radius: 0.5em;
}

.addContactSubmit:hover, .cancel:hover {
  color: #fff;
  border: 1px solid #4e327c;
  background-color: #795aaa;
  cursor: pointer;
}

.hidden { display: none }